<nav>
    <input type="checkbox" id="res-menu" checked>
    <label for="res-menu">
        <i class="fa fa-bars" id="sign-two"></i>
        <i class="fa fa-times" id="sign-one"></i>
    </label>
    <img src="/img/logoBN.png" alt="Logo" />
    <ul>
        <li> <a href="/index.ejs">Home</a> </li>
        <li> <a href="/product.ejs">Productos</a></li>
        <li> <a href="index.ejs#qsomos">Quienes somos</a> </li>
        <li> <a href="index.ejs#contactos-index">contactos</a> </li>
        <li> <a href="#" onClick="MyWindow=window.open('/login.ejs','MyWindow','width=600,height=400'); return false;">Login</a></li>
        <li><a href="register.ejs">Registro</a></li>
        <a href="productCart.ejs"><i class="fas fa-shopping-cart"></i></a>
    </ul>
</nav>